.logo {
    width: 100px;
    height: 110px;
    margin:0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    /*사이즈 알때*/ 
}

.menu{
    background-color: #005891;
    text-align: center;
    /* 사이즈 모를때 */
    height: 50px;
    line-height: 50px;    /* 행 높이 : 50px */
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.menu a{ /* a: 파랑색, 밑줄 스타일을 태생적으로 갖음 */
    text-decoration: none;      /* 텍스트-꾸밈: 없음*/
    color: white;
    margin: 10px;
    padding: 10px;
    font-size:14px;
    font-weight: bold;
}

.menu a:hover{ /*의사 선택자 */
    color:#fcff00;
}

/* 의사 선택자 
어떤 상태에 추가하는 키워드

a 관련 의사 선택자
1) link : 링크가 걸려있는 상태
2) visited : 링크를 클릭한 이후의 상태
3) hover : 링크에 마우스가 올려진 상태 (=클릭할려고 올려진)
4) active : 링크를 클릭한채로 유지하는 상태 (마우스 떼기 전)



각각의 상태에 따른 스타일을 다르게 입력하려면 
'순서'를 지켜야함
LoVe,HAte ==> 러브~헤이트~ */
.title{
    text-align: center;
    margin: 50px 0;
}
.title h1{
    font-size: 22px;
}
.title p{
    font-size: 16px;
    color: #555555;
    margin:10px;
}

.hero_img{
    width: 800px;
    height: 500px;
    margin:0 auto;
}

.clips{
    
    width: 650px;
    
    margin: 0 auto;
    display:flex;
    font-size: 0; /* 글자 크기 : 0 (없음, 표시x, 글자마다 자동으로 생성되는 여백x*/
}

.clip:nth-child(1){
    margin-right:50px;
}

.clip h2 {
    font-size: 20px;
    font-weight: bold;
}

.clip h2, .clip p {
    font-size: 16px;
    margin:20px;
    text-align: center;
}

.social_media{
    text-align: center;
    margin:40px;
}

.social_media a {
    text-decoration: none;
    margin-right: 15px;
}

.social_media a:nth-child(4){
    margin-right: 0;
}

.contact{
    text-align: center;
}

.contact h2{
    font-size:15px;
    color:#005891;
    text-transform: uppercase; /* 텍스트 - 변형: 대문자로 */
    /* 소문자는 lowercase , 첫글자만 capitalize */

}

.contact p{
    font-weight: bold;
    font-size:30px;
    color:#005891;
}

.info{
    text-align: center;
}

.info p:nth-child(1){
    font-size: 13px;
    margin-bottom: 20px;
}

.info p:nth-child(2){
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 150px;
}

hr{
    margin: 80px 0;
    background-color: #005891;
    height: 1px;
    border:0;
}